* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
input,
th {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: unset;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  width: auto;
  margin: 0;
  padding: 0;
  font: inherit;
  overflow: visible;
  background: transparent;
}

button:focus {
  outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: #dff0ff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #212C5B;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding: 30px 0;
}

.container {
  width: 1000px;
  margin: 0 auto; 
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  font-size: 14px;
}

.filter-companies {
  position: relative;
  margin-right: 56px;
}

.filter-companies__title {
  margin-right: 10px;
}

.filter-companies__arrow {
  font-size: 14px;
}

.filter-companies-list {
  position: absolute;
  left: 0;
  top: 17px;
  min-width: 172px;
  padding: 8px 0;
  background-color: #ffffff;
  border-radius: 8px;
}

.filter-companies-list-item__title {
  display: block;
  padding: 7px 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.filter-companies-list-item__title:hover {
  background-color: #f2f2f2;
}

.custom-checkbox__default-checkbox {
  display: none;
}

.custom-checkbox__title {
  cursor: pointer;
}

.custom-checkbox__wrapper {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-left: 2px;
  margin-right: 10px;
  vertical-align: middle;
  border: 1px solid rgba(33, 44, 91, 1);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.custom-checkbox-check {
  font-size: 13px ;
  color: #ffffff;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.custom-checkbox__default-checkbox:checked + 
.custom-checkbox__title
.custom-checkbox__wrapper {
  background-color: #fe9922;
  border: 1px solid rgba(33, 44, 91, 0);
}

.custom-checkbox__default-checkbox:checked + 
.custom-checkbox__title
.custom-checkbox-check {
  opacity: 1;
}

.tickets {
  width: 100%;
}

.tickets__header {
  padding: 10px 0;
  font-size: 13px;
  color: #ffffff;
  background-color: #397fbf;
}

.tickets__title {
  padding: 10px 0;
}

.tickets__title_first {
  padding-left: 16px;
}

.ticket__title_for_company {
  width: 16.5%;
}

.ticket__title_for_type{
  width: 14.5%;
}

.ticket__title_for_choose-time{
  width: 17.5%;
}

.ticket__title_for_time{
  width: 13.5%;
}

.ticket__title_for_duration{
  width: 14.5%;
}

.ticket {
  background-color: #ffffff;
  border-bottom: 1px solid #dff0ff;
}

.ticket__cell {
  padding-top: 16px;
  vertical-align: top;
}

.ticket__cell_first {
  padding-left: 16px;
}

.ticket__cell_for_company {
  padding-bottom: 21px;
}

.ticket-choose-time__text {
  margin-right: 5px;
  border-bottom: 1px dotted #9EA3B7;
}

.ticket-choose-time__arrow {
  font-size: 12px;
  color: #44ABD8;
}

.ticket-choose-time__share {
  border-bottom: 1px dotted #9EA3B7;
}

.ticket__time-start {
  font-weight: 700;
}

.ticket__cell_for-buy {
  padding-right: 19px;
  padding-bottom: 40px;
  text-align: right;
}

.ticket__buy {
  padding: 10px 20px;
  font-size: 14px;
  color: #ffffff;
  background: #FE9922;
  border: 1px solid #FE9922;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.ticket__buy:hover {
  color: #ffffff;
  background: #437abd;
  border: 1px solid #437abd;
}

.ticket__emty {
  padding: 20px 0;
  text-align: center;
}