<template>
  <div class="filter-direct custom-checkbox">
    <input type="checkbox"
      class="filter-direct__check custom-checkbox__default-checkbox"
      id="filter-direct__check" v-model="localizedIsOnlyDirect"
      @change="$emit('onChangeFilterDirect', localizedIsOnlyDirect)">
    <label class="filter-direct__title custom-checkbox__title" for="filter-direct__check">
      <div class="custom-checkbox__wrapper"><i class="custom-checkbox-check fa fa-check"></i></div>
      Только прямые рейсы
    </label>
  </div>
</template>

<script>
export default {
  name: 'FilterDirect',
  props: ['isOnlyDirect'],
  data () {
    return {
      localizedIsOnlyDirect: this.isOnlyDirect
    }
  }
}
</script>
