<template>
  <div class="filter-companies">
    <a href="javascript:void(0);"
      class="filter-companies__check-visible"
      @click.stop="$emit('onToggleShowFilterCompanies')">
      <span class="filter-companies__title">Авиакомпании</span>
      <i class="filter-companies__arrow fas fa-angle-down"
        :class="{ 'fa-rotate-180': localizedIsShowFilterCompanies }"></i>
    </a>
    <div class="filter-companies-list"
      v-show="localizedIsShowFilterCompanies"
      @click.stop="localizedIsShowFilterCompanies = true">
      <ul>
        <li class="filter-companies-list-item custom-checkbox">
          <input type="checkbox"
            class="filter-companies-list-item__check custom-checkbox__default-checkbox"
            id="filter-companies-list-item__all"
            v-model="localizedIsSelectAllCompanies"
            @change="$emit('onSelectAllCompanies')"
            >
          <label class="filter-companies-list-item__title custom-checkbox__title" for="filter-companies-list-item__all">
            <div class="custom-checkbox__wrapper"><i class="custom-checkbox-check fa fa-check"></i></div>
              Все
          </label>
        </li>
        <li class="filter-companies-list-item custom-checkbox" v-for="company in filterCompaniesSorted" :key="company.code">
          <input type="checkbox"
            class="filter-companies-list-item__check custom-checkbox__default-checkbox"
            :id="`filter-companies-list-item__${company.code}`"
            v-model="company.checked"
            @change="$emit('onSelectOneCompany')">
          <label class="filter-companies-list-item__title custom-checkbox__title" :for="`filter-companies-list-item__${company.code}`">
            <div class="custom-checkbox__wrapper"><i class="custom-checkbox-check fa fa-check"></i></div>
              {{ company.name }}
          </label>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FilterAirline',
  props: [
    'isShowFilterCompanies',
    'isSelectAllCompanies',
    'filterCompanies'
  ],
  data () {
    return {
      localizedIsShowFilterCompanies: this.isShowFilterCompanies,
      localizedIsSelectAllCompanies: this.isSelectAllCompanies
    }
  },
  computed: {
    filterCompaniesSorted () {
      return [...this.filterCompanies].sort((a, b) => {
        if (a.name < b.name) {
          return -1
        }
        if (a.name > b.name) {
          return 1
        }
        return 0
      })
    }
  },
  watch: {
    isShowFilterCompanies (newVal) {
      this.localizedIsShowFilterCompanies = newVal
    },
    isSelectAllCompanies (newVal) {
      this.localizedIsSelectAllCompanies = newVal
    }
  }
}
</script>
