<template>
  <div class="content" @click="isShowFilterCompanies = false">
    <div class="container">
      <div class="filters">
        <FilterAirline :isShowFilterCompanies="isShowFilterCompanies"
          :isSelectAllCompanies='isSelectAllCompanies'
          :filterCompanies='filterCompanies'
          @onToggleShowFilterCompanies="isShowFilterCompanies = !isShowFilterCompanies"
          @onSelectAllCompanies="selectAllCompanies"
          @onSelectOneCompany="selectOneCompany">
        </FilterAirline>
        <FilterDirect :isOnlyDirect='isOnlyDirect' @onChangeFilterDirect="setFilterDirect"></FilterDirect>
      </div>
      <Tickets :tickets="filteredTickets"></Tickets>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import FilterAirline from './FilterAirline.vue'
import FilterDirect from './FilterDirect.vue'
import Tickets from './Tickets.vue'

Vue.component('Tickets', Tickets)
Vue.component('FilterAirline', FilterAirline)
Vue.component('FilterDirect', FilterDirect)

export default {
  name: 'FilterPage',
  data () {
    return {
      tickets: null,
      filteredTickets: [],
      isOnlyDirect: false,
      isShowFilterCompanies: false,
      isSelectAllCompanies: true,
      filterCompanies: []
    }
  },
  computed: {
    selectedFilterCompanies () {
      let filters = []
      let checkedFiters = this.filterCompanies.filter(company => company.checked)
      checkedFiters.forEach(company => {
        filters.push(company.code)
      })
      return filters
    },
    filteredDataByCompany () {
      let filteredDataByCompany = []
      if (this.selectedFilterCompanies.length !== 0) {
        filteredDataByCompany = this.filteredTickets.filter((ticket) => {
          return this.selectedFilterCompanies.some(code => ticket.flights.some(flight => code === flight.airline.code))
        })
        return filteredDataByCompany
      } else {
        return false
      }
    },
    filteredDataByDirect () {
      let filteredDataByDirect = []
      if (this.isOnlyDirect) {
        filteredDataByDirect = this.filteredTickets.filter((ticket) => ticket.flights.length === 1)
        return filteredDataByDirect
      } else {
        return false
      }
    }
  },
  methods: {
    getfilteredData () {
      this.filteredTickets = this.tickets
      if (this.filteredDataByCompany) {
        this.filteredTickets = this.filteredDataByCompany
      }
      if (this.filteredDataByDirect) {
        this.filteredTickets = this.filteredDataByDirect
      }
      if (this.selectedFilterCompanies.length === 0) {
        this.filteredTickets = []
      }
    },
    setFilterDirect (isOnlyDirect) {
      this.isOnlyDirect = isOnlyDirect
      this.getfilteredData()
    },
    selectAllCompanies () {
      this.isSelectAllCompanies = !this.isSelectAllCompanies
      if (this.isSelectAllCompanies) {
        this.filterCompanies.forEach((company) => { company.checked = true })
      } else {
        this.filterCompanies.forEach((company) => { company.checked = false })
      }
      this.getfilteredData()
    },
    selectOneCompany () {
      this.isSelectAllCompanies = false
      this.getfilteredData()
    }
  },
  mounted () {
    fetch('./assets/data.json')
      .then(res => res.json())
      .then((data) => {
        this.tickets = data
        return this.tickets
      })
      .then((tickets) => {
        let companies = {}
        tickets.forEach(ticket => {
          Vue.set(ticket, 'mainDepartureTime', ticket.flights[0].departureTime)
          Vue.set(ticket, 'mainArrivalTime', ticket.flights[ticket.flights.length - 1].arrivalTime)
          ticket.flights.forEach(flight => {
            companies[flight.airline.code] = flight.airline.name
          })
        })
        for (let code in companies) {
          this.filterCompanies.push({
            checked: true,
            code,
            name: companies[code]
          })
        }
      })
      .then(this.getfilteredData)
  }
}
</script>
