<template>
  <table class="tickets">
    <thead class="tickets__header">
      <tr>
        <th class="tickets__title tickets__title_first ticket__title_for_company">Авиакомпания</th>
        <th class="tickets__title ticket__title_for_type">Рейс</th>
        <th class="tickets__title ticket__title_for_choose-time">Выбор времени</th>
        <th class="tickets__title ticket__title_for_time">Вылет - посадка</th>
        <th class="tickets__title ticket__title_for_duration">Время в пути</th>
        <th class="tickets__title"></th>
      </tr>
    </thead>
    <tbody class="tickets__content" v-if="tickets.length != 0" name="fade" tag="tbody">
        <tr class="ticket" v-for="(ticket, index) of tickets" :key="`ticket-${index}`">
          <td class="ticket__cell ticket__cell_first ticket__cell_for_company">
            <img
              :src="`./assets/img/${flight.airline.code}.png`"
              alt="KC"
              class="ticket__company"
              v-for="(flight, index) in ticket.flights"
              :key="`flight-${index}`"
            >
          </td>
          <td class="ticket__cell">
            <span class="ticket__type">{{ ticket.flights.length > 1 ? 'С пересадкой' : 'Прямой' }}</span>
          </td>
          <td class="ticket__cell">
            <div class="ticket__choose-time ticket-choose-time">
              <a href="javascript:void(0);" class="ticket-choose-time__select-visible">
                <span class="ticket-choose-time__text">Выбрать другое время</span>
                <i class="ticket-choose-time__arrow fas fa-angle-down"></i>
              </a>
              <a href="javascript:void(0);" class="ticket-choose-time__share">Поделиться</a>
            </div>
          </td>
          <td class="ticket__cell">
            <span class="ticket__time-start">{{ ticket.mainDepartureTime }}</span>
            -
            <span class="ticket__time-finish">{{ ticket.mainArrivalTime }}</span>
          </td>
          <td class="ticket__cell">
            <span class="ticket__duration">{{ ticket.flightDuration | durationFormat }}</span>
          </td>
          <td class="ticket__cell ticket__cell_for-buy">
            <button class="ticket__buy">Купить за {{ ticket.price | priceFormat }} kzt</button>
          </td>
        </tr>
    </tbody>
    <tbody class="tickets__content" v-else>
      <tr class="ticket">
        <td class="ticket__cell ticket__emty" colspan="6">
          К сожалению, поиск по заданным критериям не принес результата
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: 'Tickets',
  props: ['tickets'],
  filters: {
    priceFormat (value) {
      if (!value) return ''
      value = value.toString()
      return value.replace(/\B(?=(\d{3})+(?!\d))/g, ' ')
    },
    durationFormat (mainMinutes) {
      const hours = Math.floor(mainMinutes / 60)
      const minutes = mainMinutes % 60
      return `${hours}ч ${minutes}м`
    }
  }
}
</script>
