<template>
  <div id="app">
    <FilterPage />
  </div>
</template>

<script>
import FilterPage from './components/FilterPage.vue'

export default {
  name: 'app',
  components: {
    FilterPage
  }
}
</script>